MYSQL_DATABASE=jzqs
MYSQL_USER=jzqs
MYSQL_PASSWORD=change_me
MYSQL_ROOT_PASSWORD=change_root_me
MYSQL_PORT=3306

SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/jzqs?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
SPRING_DATASOURCE_USERNAME=jzqs
SPRING_DATASOURCE_PASSWORD=change_me

SPRING_PROFILES_ACTIVE=prod
WECHAT_DEV_MODE=false
WECHAT_APPID=
WECHAT_SECRET=
WECHAT_CLOUD_ENV_ID=cloud1-4g88w3e2dedee471
APP_JWT_SECRET=change_this_to_a_long_random_secret
APP_INTERNAL_API_TOKEN=change_this_to_an_internal_call_secret
# 云函数 cleanupReceipts / cleanStorage 也要使用同一个内部令牌
# cloudfunctions 环境变量名：INTERNAL_API_TOKEN
APP_AUTH_FILTER_ENABLED=true
APP_DEBUG_MINIAPP_ORDER_ENABLED=false

DB_MAX_POOL_SIZE=12
DB_MIN_IDLE=2
DB_IDLE_TIMEOUT_MS=300000
DB_MAX_LIFETIME_MS=1800000
DB_CONNECTION_TIMEOUT_MS=10000
DB_VALIDATION_TIMEOUT_MS=3000

SERVER_TOMCAT_THREADS_MAX=80
SERVER_TOMCAT_THREADS_MIN_SPARE=10
SERVER_TOMCAT_ACCEPT_COUNT=100
SERVER_TOMCAT_MAX_CONNECTIONS=1024

BACKEND_PORT=8080
ADMIN_PORT=80
